

  <!-- Header -->
  <header id="header">
    <h1><a href="index.html">Alicia Mira Kim</a></h1>
    <nav class="links">
      <ul>
        <li><a href="blog.html">Dev Blog</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="contact.html">Contact Me</a></li>
      </ul>
    </nav>
    <nav class="main">
      <ul>
        <li class="menu">
          <a class="fa-bars" href="#menu">Menu</a>
        </li>
      </ul>
    </nav>
  </header>
  
  <!-- Menu -->
  <section id="menu">

    <!-- Actions -->
      <section>
        <ul class="actions stacked">
          <li><a href="mailto:alicia.mira.kim" class="button large fit">Contact Me</a></li>
        </ul>
      </section>
      
    <!-- Links -->
      <section>
        <h2>My Projects</h2>
        <!-- TODO: Add short summaries, icon links to github/live site -->
        <ul class="links">
          <li>
            <a href="https://iris-isle.herokuapp.com/">
              <h3>The Chronicles</h3>
            </a>
            <p><a href="https://iris-isle.herokuapp.com/">live</a> | <a href="https://iris-isle.herokuapp.com/">github</a></p>
            <p>Solo | Python, JavaScript, React, Flask, SQLAlchemy, SASS</p>
          </li>
          <li>
            <a href="https://persistamp.herokuapp.com/">
              <h3>Persistamp</h3>
              <p>2020<br/>
                Team (Developer) | Python, Javacript, React, Flask, SQLAlchemy</p>
            </a>
          </li>
          <li>
            <a href="https://github.com/alimirakim/Coven">
              <h3>Coven</h3>
              <p>2020<br/>
                Team (Developer) | Express, Sequelize, JavaScript, Pug </p>
            </a>
          </li>
          <li>
            <a href="https://store.steampowered.com/app/1100270/The_Far_Rings_A_Space_Opera_Visual_Novella/">
              <h3>The Far Rings</h3>
              <p>2019<br/>
              Team (Writer, Editer, Artist, Marketer, Developer, Communications) | RenPy, Adobe (Photoshop, Illustrator, AfterEffects), Procreate, Wix </p>
            </a>
          </li>
          <li>
            <a href="https://amira-kim.itch.io/kitchen-scraps-v3">
              <h3>Kitchen Scraps</h3>
              <p>2019<br/>
                Solo | Python, Pygame</p>
              <!-- <p>My first program. A three-match puzzle game with the goal of combining ingredients until only one remaining dish remains.</p> -->
            </a>
          </li>
        </ul>
      </section>

  </section>
