{% extends "layout.html" %}
{% block title %}Alicia Mira Kim{% endblock %}


{% block content %}
<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="blog/1.html">About Me</a></h2>
                    <p>Creativity, Communication, and Code.</p>
                  </div>
                </header>
                
                <a href="blog/1.html" class="image featured"><img src="/static/images/pic01.jpg" alt="" /></a>
                
                
                
                <p></p>
                
								<footer>

								</footer>
							</article>

						<!-- Pagination -->
							<!-- <ul class="actions pagination">
								<li><a href="" class="disabled button large previous">Previous Page</a></li>
								<li><a href="#" class="button large next">Next Page</a></li>
							</ul>

					</div> -->

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="about.html" class="logo"><img src="/static/images/logo.jpg" alt="" /></a>
								<header>
									<h2>Alicia Mira Kim</h2>
                  <p>A Full-stack Developer</p>
                  <!-- <p>Python | JavaScript | React | Flask / SQLAlchemy | Express / Sequelize</p> -->
								</header>
              </section>
              
						<!-- About -->
            <section class="blurb">
              <h2>About Me</h2>
              <p>I aim to build applications that enable people's creativity and self-growth, are a pleasure to use, and can create a meaningful impact, no matter how small. I love programming because it's like puzzle games, but actually fun, and you get something useful at the end 🌈✨ 💖 .</p>
              <ul class="actions">
                <li><a href="about.html" class="button">Learn More</a></li>
              </ul>
            </section>
              
						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">
                <h2>My Projects</h2>
									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="https://github.com/alimirakim/Iris-Isle">The Chronicles</a></h3>
												<time class="published" datetime="2020-12">December 2020</time>
                        <p>PYTHON, JAVASCRIPT, REACT, FLASK, SQLALCHEMY, SASS</p>
											</header>
                      <a href="https://github.com/alimirakim/Iris-Isle" class="image"><img src="/static/images/pic04.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="https://github.com/alimirakim/persistamp">Persistamp</a></h3>
												<time class="published" datetime="2020-11">November 2020</time>
											</header>
											<a href="https://github.com/alimirakim/persistamp" class="image"><img src="/static/images/pic05.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="https://github.com/alimirakim/Coven">Coven</a></h3>
												<time class="published" datetime="2020-10">October 2020</time>
											</header>
											<a href="https://github.com/alimirakim/Coven" class="image"><img src="/static/images/pic06.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="https://thefarrings.wixsite.com/home">The Far Rings</a></h3>
												<time class="published" datetime="2019-10">October 2019</time>
											</header>
											<a href="https://thefarrings.wixsite.com/home" class="image"><img src="/static/images/pic07.jpg" alt="" /></a>
										</article>

									<!-- Mini Post -->
                  <article class="mini-post">
                    <header>
                      <h3><a href="https://amira-kim.itch.io/kitchen-scraps-v3">Kitchen Scraps</a></h3>
                      <time class="published" datetime="2019-09">September 2019</time>
                    </header>
                    <a href="https://amira-kim.itch.io/kitchen-scraps-v3" class="image"><img src="/static/images/pic07.jpg" alt="" /></a>
                  </article>
                    
                    
								</div>
							</section>

						<!-- Posts List -->
							<section>
                <h2>Previous Posts</h2>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="blog/1.html"><pre>git commit -m "Initial blog post"</pre></a></h3>
												<time class="published" datetime="2020-01-20">January 01, 2020</time>
											</header>
											<a href="blog/1.html" class="image"><img src="/static/images/pic08.jpg" alt="" /></a>
										</article>
									</li>
								</ul>
							</section>

{% endblock %}